node_modules
src/dist
src/vendors/chromium/_metadata/generated_indexed_rulesets/_ruleset1
src/vendors/chromium/resources
src/vendors/chromium/scripts
src/vendors/firefox/resources
src/vendors/firefox/scripts