@tailwind base;
@tailwind components;
@tailwind utilities;

.base {
    @apply h-screen w-full text-black dark:text-white font-sans
}

.navigation-button {
    @apply flex h-12 place-content-center items-center gap-1 rounded bg-neutral-200 transition-all hover:bg-neutral-300 dark:bg-neutral-700 dark:hover:bg-neutral-600
}

.group {
    @apply flex flex-col gap-3
}

.list {
    @apply flex flex-col gap-1
}

.header-1 {
    @apply text-3xl font-bold
}

.header-2 {
    @apply text-xl font-bold
}
