---
import Block from '../components/Block.astro';
import Button from '../components/Button.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import Base from '../layouts/Base.astro';
---

<Base title="404">
    <div class="flex justify-center py-8">
        <Block position="center">
            <Title>404 - Page not found</Title>
            <Text>We couldn't find the page you were looking for</Text>
            <Button href="/" target="_self" title="Return to Home" />
        </Block>
    </div>
</Base>
