---
import Block from '../components/Block.astro';
import Button from '../components/Button.astro';
import Paragraph from '../components/Paragraph.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import Base from '../layouts/Base.astro';
---

<Base title="Shorts Deflector">
    <Block>
        <Title>YouTube thinks Shorts belong on the desktop</Title>
        <Paragraph>
            <Text>They're wrong.</Text>
            <Text>
                As Shorts is a mobile-optimized format, its player lacks many features of the
                desktop one.
            </Text>
            <Text>
                YouTube tries to push Shorts through the recommended page, subscription page,
                channel video pages, and many more.
            </Text>
            <Text>Enough is enough.</Text>
        </Paragraph>
    </Block>
    <div
        class="flex items-center justify-center bg-gradient-to-t from-transparent to-[#f40407] w-full h-48 rounded-t-3xl"
    ></div>
    <Block position="center">
        <Title>Watch YouTube Shorts with the normal desktop interface</Title>
        <Text>Install Shorts Deflector once and never deal with the Shorts player ever again</Text>
        <div
            class="relative rounded-3xl max-w-[640px] aspect-[4/5] overflow-hidden dark:border-0 border-4 border-neutral-200"
        >
            <img
                class="absolute w-full h-full object-cover object-left select-none"
                id="after"
                src="/compare-after.png"
            />
            <img class="object-fill select-none" src="/compare-before.png" />
            <input
                class="absolute w-full top-1/2 h-0"
                id="slider"
                type="range"
                max="100"
                min="0"
                value="50"
            />
        </div>
    </Block>
    <Block position="center">
        <Title>Minimal and effective user interface</Title>
        <Text>A simple user interface that doesn't have twenty submenus</Text>
        <div class="relative w-full aspect-[5/3]">
            <img
                class="absolute rounded-3xl top-0 left-0 border-2 dark:border-0 border-neutral-200 w-2/3 shadow aspect-[1280/800]"
                src="/ui-light.png"
            />
            <img
                class="absolute rounded-3xl bottom-0 right-0 w-2/3 shadow aspect-[1280/800]"
                src="/ui-dark.png"
            />
        </div>
    </Block>
    <Block position="center">
        <Title>An open source project</Title>
        <Text>
            Available under the MIT license, you can verify that this extension does nothing fishy
        </Text>
        <Button href="https://github.com/Attituding/shorts-deflector" title="GitHub" />
    </Block>
    <Block position="center">
        <Title>Ready to get started?</Title>
        <Text>Add Shorts Deflector from the respective web store</Text>
        <div class="flex sm:flex-row flex-col gap-4 items-stretch w-full h-fit">
            <Button
                description="The Chrome Web Store is compatible with Chromium based browsers. This includes Chrome, Microsoft Edge, Brave, Opera, Vivaldi, and many more."
                href="https://chrome.google.com/webstore/detail/shorts-deflector/gilmponliddppjjcfjmanmmfgiilikhg"
                title="Chrome Web Store"
            />
            <Button
                description="Firefox Add-ons is the best place to get extensions for Firefox. This version will be missing certain features for now due to missing APIs (early 2023 ish)."
                href="https://addons.mozilla.org/firefox/addon/shorts-deflector/"
                title="Firefox Add-ons"
            />
        </div>
    </Block>
    <Block position="center">
        <Title>Bugs? Questions? Suggestions?</Title>
        <Text>Easily get support through your preferred method</Text>
        <div
            class="flex sm:flex-row flex-col gap-4 items-stretch justify-items-stretch w-full h-fit"
        >
            <Button
                description="Easily ask, suggest, or report anything through the support tab on the Chrome Web Store."
                href="https://chrome.google.com/webstore/detail/shorts-deflector/gilmponliddppjjcfjmanmmfgiilikhg"
                title="Chrome Web Store"
            />
            <Button
                description="Ask, suggest or report anything by creating a GitHub issue. You can choose from a variety of templates to get you started."
                href="https://github.com/Attituding/shorts-deflector/issues/new/choose"
                title="GitHub Issues"
            />
        </div>
    </Block>
    <div class="bg-gradient-to-b from-transparent to-[#f40407] w-full h-48 rounded-b-3xl"></div>
</Base>

<script>
    const slider = document.getElementById('slider') as HTMLInputElement;
    const afterImage = document.getElementById('after') as HTMLImageElement;
    afterImage.style.width = `${slider.value}%`;
    slider.addEventListener('input', () => {
        afterImage.style.width = `${slider.value}%`;
    });
</script>

<style>
    input[type='range'] {
        -webkit-appearance: none;
    }
    input[type='range']::-webkit-slider-thumb {
        background: #f40407;
        border: 0;
        border-radius: 0px;
        cursor: ew-resize;
        height: 800px;
        width: 10px;
        -webkit-appearance: none;
    }
    input[type='range']::-moz-range-thumb {
        background: #f40407;
        border: 0;
        border-radius: 0px;
        cursor: ew-resize;
        height: 800px;
        width: 10px;
    }
    input[type='range']::-ms-thumb {
        background: #f40407;
        border: 0;
        border-radius: 0px;
        cursor: ew-resize;
        height: 800px;
        width: 10px;
    }
</style>
