---
import Block from '../components/Block.astro';
import Button from '../components/Button.astro';
import ImageComparison from '../components/ImageComparison.astro';
import ImageStack from '../components/ImageStack.astro';
import Paragraph from '../components/Paragraph.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import Base from '../layouts/Base.astro';
---

<Base>
    <Title
        heading="1"
        title="Introducing Shorts Deflector"
    />
    <Block>
        <Title
            heading="2"
            title="YouTube thinks that Shorts belong on the desktop"
        />
        <Paragraph>
            <Text>They're wrong.</Text>
            <Text
                >As Shorts is a mobile-optimized format, its player lacks many features of the
                desktop one.</Text
            >
            <Text
                >YouTube shoves Shorts into our faces through the home page, subscriptions, Explore
                category, and of course, the Shorts tab.</Text
            >
            <Text>Enough is enough.</Text>
        </Paragraph>
    </Block>
    <div
        class="items-center justify-center bg-gradient-to-t from-transparent to-youtube w-full aspect-[8/1] rounded-t-3xl sm:block hidden"
    >
    </div>
    <Block position="center">
        <Title
            heading="2"
            title="Seamlessly play YouTube Shorts with the normal desktop interface"
        />
        <Text>Install Shorts Deflector once and never deal with the Shorts player ever again</Text>
        <ImageComparison
            aspectRatio="aspect-[600/850]"
            height="1600px"
            imageAfterAlt="YouTube video with the desktop video player"
            imageAfterURL="/shorts-deflector/compare-after.webp"
            imageBeforeAlt="YouTube video with the shorts video player"
            imageBeforeURL="/shorts-deflector/compare-before.webp"
            maxWidth="max-w-xl"
            width="1280px"
        />
    </Block>
    <Block position="center">
        <Title
            heading="2"
            title="Minimal and effective user interface"
        />
        <Text>A simple user interface that doesn't have twenty submenus</Text>
        <ImageStack
            aspectRatio="aspect-[5/3]"
            imageBottomAlt="User interface of Shorts Deflector in dark mode"
            imageBottomURL="/shorts-deflector/ui-dark.webp"
            imageTopAlt="User interface of Shorts Deflector in light mode"
            imageTopURL="/shorts-deflector/ui-light.webp"
            maxWidth="max-w-4xl"
        />
    </Block>
    <Block position="center">
        <Title
            heading="2"
            title="An open source project"
        />
        <Text
            >Available under the MIT license for all to use, build, and extend</Text
        >
        <Button
            href="https://github.com/attituding/shorts-deflector"
            maxWidth="max-w-xl"
            title="GitHub"
        />
    </Block>
    <Block position="center">
        <Title
            heading="2"
            title="Ready to get started?"
        />
        <Text>Add Shorts Deflector from your preferred source</Text>
        <div class="flex sm:flex-row flex-col gap-4 items-stretch max-w-4xl w-full h-fit">
            <Button
                description="The Chrome Web Store is compatible with Chromium based browsers. This includes Chrome, Microsoft Edge, Brave, Opera, Vivaldi, and many more."
                href="https://chrome.google.com/webstore/detail/shorts-deflector/gilmponliddppjjcfjmanmmfgiilikhg"
                title="Chrome Web Store"
            />
            <Button
                description="Firefox Add-ons is the best place to get extensions for Firefox. Builds for Firefox are now in parity with Chromium."
                href="https://addons.mozilla.org/firefox/addon/shorts-deflector/"
                title="Firefox Add-ons"
            />
            <Button
                description="Builds of Shorts Deflector are available through GitHub Releases. This option allows you to get the .zip files."
                href="https://github.com/attituding/shorts-deflector/releases/latest"
                title="GitHub Releases"
            />
        </div>
    </Block>
    <Block position="center">
        <Title
            heading="2"
            title="Bugs? Questions? Suggestions?"
        />
        <Text>Easily get support through your preferred method</Text>
        <div
            class="flex sm:flex-row flex-col gap-4 items-stretch justify-items-stretch max-w-4xl w-full h-fit"
        >
            <Button
                description="Easily ask, suggest, or report anything through the support tab on the Chrome Web Store."
                href="https://chrome.google.com/webstore/detail/shorts-deflector/gilmponliddppjjcfjmanmmfgiilikhg"
                title="Chrome Web Store"
            />
            <Button
                description="Ask, suggest or report anything by creating a GitHub issue. You can choose from a variety of templates to get you started."
                href="https://github.com/attituding/shorts-deflector/issues/new/choose"
                title="GitHub Issues"
            />
        </div>
    </Block>
    <div
        class="bg-gradient-to-b from-transparent to-youtube w-full aspect-[8/1] rounded-b-3xl sm:block hidden"
    >
    </div>
</Base>
