---
import Block from '../components/Block.astro';
import Button from '../components/Button.astro';
import ImageComparison from '../components/ImageComparison.astro';
import ImageStack from '../components/ImageStack.astro';
import Paragraph from '../components/Paragraph.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import Base from '../layouts/Base.astro';
---

<Base>
    <Block>
        <Title anchor="youtube-thinks-shorts-belong-on-the-desktop">
            YouTube thinks that Shorts belong on the desktop
        </Title>
        <Paragraph>
            <Text>They're wrong.</Text>
            <Text>
                As Shorts is a mobile-optimized format, its player lacks many features of the
                desktop one.
            </Text>
            <Text>
                YouTube shoves Shorts into our faces through the home page, subscriptions, Explore
                category, and of course, the Shorts tab.
            </Text>
            <Text>Enough is enough.</Text>
        </Paragraph>
    </Block>
    <div
        class="items-center justify-center bg-gradient-to-t from-transparent to-youtube w-full aspect-[8/1] rounded-t-3xl sm:block hidden"
    ></div>
    <Block position="center">
        <Title anchor="seamlessly-play-youtube-shorts-with-the-normal-desktop-interface">
            Seamlessly play YouTube Shorts with the normal desktop interface
        </Title>
        <Text>Install Shorts Deflector once and never deal with the Shorts player ever again</Text>
        <ImageComparison
            aspectRatio="aspect-[1280/1600]"
            height="1600px"
            imageAfterAlt="YouTube video with the desktop video player"
            imageAfterURL="/compare-after.webp"
            imageBeforeAlt="YouTube video with the shorts video player"
            imageBeforeURL="/compare-before.webp"
            maxWidth="max-w-xl"
            width="1280px"
        />
    </Block>
    <Block position="center">
        <Title anchor="minimal-and-effective-user-interface">
            Minimal and effective user interface
        </Title>
        <Text>A simple user interface that doesn't have twenty submenus</Text>
        <ImageStack
            aspectRatio="aspect-[5/3]"
            imageBottomAlt="User interface of Shorts Deflector in dark mode"
            imageBottomURL="/ui-dark.webp"
            imageTopAlt="User interface of Shorts Deflector in light mode"
            imageTopURL="/ui-light.webp"
            maxWidth="max-w-4xl"
        />
    </Block>
    <Block position="center">
        <Title anchor="an-open-source-project">An open source project</Title>
        <Text>
            Available under the MIT license, you can verify that this extension does nothing fishy
        </Text>
        <Button
            href="https://github.com/Attituding/shorts-deflector"
            maxWidth="max-w-xl"
            title="GitHub"
        />
    </Block>
    <Block position="center">
        <Title anchor="ready-to-get-started">Ready to get started?</Title>
        <Text>Add Shorts Deflector from the respective web store</Text>
        <div class="flex sm:flex-row flex-col gap-4 items-stretch max-w-4xl w-full h-fit">
            <Button
                description="The Chrome Web Store is compatible with Chromium based browsers. This includes Chrome, Microsoft Edge, Brave, Opera, Vivaldi, and many more."
                href="https://chrome.google.com/webstore/detail/shorts-deflector/gilmponliddppjjcfjmanmmfgiilikhg"
                title="Chrome Web Store"
            />
            <Button
                description="Firefox Add-ons is the best place to get extensions for Firefox. This version will be missing certain features for now due to missing APIs (early 2023 ish)."
                href="https://addons.mozilla.org/firefox/addon/shorts-deflector/"
                title="Firefox Add-ons"
            />
        </div>
    </Block>
    <Block position="center">
        <Title anchor="bugs-questions-suggestions">Bugs? Questions? Suggestions?</Title>
        <Text>Easily get support through your preferred method</Text>
        <div
            class="flex sm:flex-row flex-col gap-4 items-stretch justify-items-stretch max-w-4xl w-full h-fit"
        >
            <Button
                description="Easily ask, suggest, or report anything through the support tab on the Chrome Web Store."
                href="https://chrome.google.com/webstore/detail/shorts-deflector/gilmponliddppjjcfjmanmmfgiilikhg"
                title="Chrome Web Store"
            />
            <Button
                description="Ask, suggest or report anything by creating a GitHub issue. You can choose from a variety of templates to get you started."
                href="https://github.com/Attituding/shorts-deflector/issues/new/choose"
                title="GitHub Issues"
            />
        </div>
    </Block>
    <div
        class="bg-gradient-to-b from-transparent to-youtube w-full aspect-[8/1] rounded-b-3xl sm:block hidden"
    ></div>
</Base>
