---
export interface Props {
    description?: string;
    href: string;
    target?: '_blank' | '_parent' | '_self' | '_top'
    title: string;
}

const { description, href, title, target } = Astro.props as Props;
---

<a
    class="transition-all w-full flex flex-col rounded-3xl hover:rounded-2xl group p-6 gap-2 bg-neutral-200 dark:bg-neutral-800 hover:bg-neutral-300 hover:dark:bg-neutral-700"
    href={href}
    target={target ?? '_blank'}
>
    <div class="flex justify-between items-center">
        <span class="sm:text-xl text-lg font-semibold flex-wrap">{title}</span>
        <img class="h-6 w-6" src="/link-external.svg" />
    </div>
    {description && <span class="text-neutral-600 dark:text-neutral-400">{description}</span>}
</a>