---
export interface Props {
    description?: string;
    href: string;
    maxWidth?: string,
    target?: '_blank' | '_parent' | '_self' | '_top';
    title: string;
}

const { description, href, maxWidth, title, target } = Astro.props as Props;
---

<a
    class={`transition-all ${maxWidth ?? ''} w-full flex flex-col rounded-3xl hover:rounded-2xl group p-6 gap-2 bg-neutral-200 dark:bg-neutral-800 hover:bg-neutral-300 hover:dark:bg-neutral-700`}
    href={href}
    target={target ?? '_blank'}
>
    <div class="flex justify-between items-center">
        <span class="sm:text-xl text-lg font-semibold flex-wrap">{title}</span>
        <img
            alt="Icon that describes that the surrounding container is a a clickable anchor"
            class="h-6 w-6"
            src="/link-external.svg"
        />
    </div>
    {description && <span class="text-neutral-700 dark:text-neutral-300 h6">{description}</span>}
</a>
