---
export interface Props {
    href: string;
    label: string;
    target?: string;
}

const { href, label, target } = Astro.props as Props;
---

<a class="flex" href={href} target={target ?? '_blank'}>
    <span
        class="transition-colors sm:text-lg text-base font-semibold sm:group-hover:text-light-3 sm:dark:group-hover:text-dark-3 text-light-1 dark:text-dark-1 hover:hover:hover:text-light-1 hover:hover:hover:dark:text-dark-1"
    >
        {label}
    </span>
</a>
