---
export interface Props {
    href: string;
    label: string;
}

const { href, label } = Astro.props as Props;
---

<a class="flex" href={href} target="_blank">
    <span
        class="transition-colors sm:text-lg text-base font-semibold sm:group-hover:text-neutral-600 sm:dark:group-hover:text-neutral-400 text-black dark:text-white hover:hover:hover:text-black hover:hover:hover:dark:text-white"
    >
        {label}
    </span>
</a>
