---
export interface Props {
    anchor?: string;
    heading?: string;
}

const { anchor, heading = '2' } = Astro.props as Props;
---

{
    anchor ? (
        <a class="flex flex-row" href={`#${anchor}`}>
            <span class={`h${heading}`}>
                <slot />
            </span>
        </a>
    ) : (
        <span class={`h${heading}`}>
            <slot />
        </span>
    )
}
