---
export interface Props {
    author: string;
    authorHref: string;
}

const { author, authorHref } = Astro.props as Props;

const year = new Date().getFullYear();
---

<footer class="flex dark:bg-neutral-800 bg-white p-2 px-4 items-center gap-1">
    <img class="sm:h-6 sm:w-6 w-5 h-5" src="/favicon.svg" />
    <span class="font-semibold text-neutral-600 dark:text-neutral-400 sm:text-base text-sm">
        &#169; {year}
        <a class="text-black dark:text-white" href={authorHref}>{author}</a>. 
        All rights reserved.
    </span>
</footer>